.feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  justify-content: center;
}

@media (width < 40rem) {
  .feed {
    grid-template-columns: repeat(2, 1fr);
  }
}
