@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');
* {
  --type-first: 'Spectral', Georgia;
  box-sizing: border-box;
}

body {
  color: #121212;
  margin: 0;
  padding: 0;
  padding-top: 4rem;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #121212;
}

label {
  display: block;
}

.container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}
.mainContainer {
  margin-top: 2rem;
}
.error {
  text-wrap: wrap;
  width: 50%;
  color: #f31;
  font-size: 0.825rem;
  margin: 0.45rem 0.125rem 0 0.125rem;
}
.title {
  font-family: 'Spectral', Georgia;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  font-size: 3rem;
  position: relative;
}
.title::after {
  content: '';
  display: block;
  width: 25px;

  height: 25px;
  background-color: rgb(228, 168, 4);
  position: absolute;
  left: -5px;
  bottom: 5px;
  border-radius: 0.2rem;
  z-index: -10;
}
@media (width <= 445px) {
  .title {
    font-size: 2.125rem;
  }
}
.subtitle {
  font-family: 'Spectral', Georgia;
  font-weight: bold;
  line-height: 1;
  font-size: 2rem;
  margin: 0.2rem 0 1rem 0;
}
.subtitle::after {
  content: '';
  display: block;
  background-color: #c4c4c4;
  width: 3rem;
  height: 0.5rem;
  border-radius: 0.2rem;
}

.loading {
  margin: 0 auto;
  border: 1px solid black;
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  animation: 2s loading ease infinite;
}

@keyframes loading {
  50% {
    rotate: -360deg;
  }
  100% {
    rotate: 720deg;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.AppBody {
  flex: 1;
}
